[run]
source = src/kvm_clone
omit = 
    */tests/*
    */venv/*
    */virtualenv/*
    */.venv/*
    */site-packages/*
    setup.py
    */migrations/*
    */settings/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

show_missing = True
precision = 2
fail_under = 90

[html]
directory = htmlcov

[xml]
output = coverage.xml
